/CarRentalBPEL/nbproject/private/
/CarRentalCA/nbproject/private/
/CarRentalCA/src/jbiServiceUnits/
/CarRentalCA/build/
/CarRentalBPEL/build/
/CarRentalCA/dist/
/CarRentalCA/test/results/
/CarRentCA/nbproject/private/